.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  position: absolute;
  top: 200px;
  left: 350px;
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  background-color: red;

  .infoGroup {
    display: flex;
    border-right: 1px solid;
    padding-right: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  // @media (max-width: 768px) {
  //     .container {
  //         flex-direction: column;
  //         gap: 0;
  //         max-height: fit-content;
  //         justify-content: flex-start;
  //     }
}
