.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/pattern-bg-desktop.png");
  background-size: cover;
  height: 35vh;

  .title {
    color: white;
  }

  .inputWrapper {
    display: flex;
    position: relative;
    width: 29rem;

    .input {
      width: 100%;
      height: 1rem;
      padding: 1rem;
      border: none;
      border-radius: 0.625rem;
      font-size: small;
      outline: none;
    }

    .button {
      position: absolute;
      right: 0;
      background-color: hsl(0, 0%, 17%);
      width: 3.5rem;
      height: 100%;
      border: none;
      border-radius: 0 0.625rem 0.625rem 0;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: hsl(0, 0%, 59%);
      }
    }
  }

  @media (max-width: 786px) {
    height: 30vh;

    .title {
      font-size: 0.875rem;
      padding-bottom: 0;
    }

    .inputWrapper {
      width: 78%;

      .button {
        width: 3rem;
      }
    }
  }
}
